In [33]:
import pandas as pd
acc_players_df = pd.read_csv('/Users/kevinlam/Downloads/acc_players-2324F.csv', sep=',', encoding='latin1', skiprows=1)

display(acc_players_df.head())

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

In [34]:
# Basic Analysis
print(acc_players_df['PTS'].sum())

38411

In [35]:
acc_players_df.loc[acc_players_df['MP'].idxmax()]

Rk                  136
Player    Casey Morsell
Class                SR
Pos                   G
School         NC State
G                    41
MP                 1333
TRB                 114
AST                  67
STL                  46
BLK                  19
TOV                  38
PF                   86
PTS                 455
FG%               0.406
2P%               0.478
3P%                0.27
FT%               0.806
PER                13.4
WS                  3.2
BPM                 2.5
Name: 135, dtype: object

In [36]:
acc_players_df.nlargest(5, 'TRB')

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
5,6,Armando Bacot,SR,F,North Carolina,37,1123,380,56,22,...,60,100,538,0.540,0.544,0.400,0.781,24.6,6.1,8.9
178,179,Ian Schieffelin,JR,F,Clemson,36,989,340,80,21,...,45,95,365,0.564,0.588,0.469,0.731,22.5,4.9,8.8
90,91,Harrison Ingram,SO,F,North Carolina,37,1213,327,80,51,...,51,71,451,0.430,0.467,0.385,0.612,18.3,4.9,8.5
44,45,Mohamed Diarra,SR,F,NC State,40,882,311,24,28,...,26,66,253,0.477,0.568,0.309,0.658,18.9,3.4,6.2
149,150,Norchad Omier,JR,F,Miami (FL),31,948,309,38,47,...,72,91,528,0.552,0.598,0.353,0.750,26.8,4.7,6.6

In [37]:
# Player Filtering
over500 = acc_players_df[acc_players_df['MP'] > 500]
print(over500)

      Rk            Player Class Pos          School   G    MP  TRB  AST  STL  \
2      3     Prince Aligbe    SO   F  Boston College  35   651  119   21   15
4      5       Zack Austin    JR   F      Pittsburgh  33   746  137   29   32
5      6     Armando Bacot    SR   F  North Carolina  37  1123  380   56   22
7      8     Reece Beekman    SR   G        Virginia  34  1114  124  212   68
9     10        Chris Bell    SO   F        Syracuse  32   865   75   21   18
..   ...               ...   ...  ..             ...  ..   ...  ...  ...  ...
203  204     Jamir Watkins    JR   F   Florida State  33   928  199   91   64
206  207         Tre White    SO   G      Louisville  29   907  170   39   24
207  208  Chauncey Wiggins    SO   F         Clemson  36   639   76   33    6
209  210   Curtis Williams    FR   G      Louisville  32   564   42   20   12
215  216    Jaeden Zackery    JR   G  Boston College  36  1216  119  152   63

     ...  TOV   PF  PTS    FG%    2P%    3P%    FT%   PER   WS   BPM
2    ...   30   51  164  0.435  0.522  0.147  0.620   9.4  0.9  -1.3
4    ...   13   35  216  0.417  0.563  0.295  0.737  18.0  2.9   7.9
5    ...   60  100  538  0.540  0.544  0.400  0.781  24.6  6.1   8.9
7    ...   70   43  486  0.443  0.487  0.310  0.754  23.4  4.9  10.5
9    ...   26   58  384  0.434  0.459  0.420  0.842  14.9  2.2   3.3
..   ...  ...  ...  ...    ...    ...    ...    ...   ...  ...   ...
203  ...   84   92  514  0.457  0.500  0.344  0.795  24.2  3.9   9.1
206  ...   53   66  357  0.456  0.515  0.299  0.752  15.0  1.7   1.8
207  ...   26   46  196  0.442  0.528  0.349  0.714  11.0  1.2   1.9
209  ...   26   24  170  0.317  0.373  0.287  0.714   5.9 -0.2  -3.8
215  ...   71   78  408  0.484  0.511  0.405  0.824  16.4  3.7   3.5

[98 rows x 21 columns]

In [38]:
over500.loc[over500['AST'].idxmax()]

Rk                    8
Player    Reece Beekman
Class                SR
Pos                   G
School         Virginia
G                    34
MP                 1114
TRB                 124
AST                 212
STL                  68
BLK                  17
TOV                  70
PF                   43
PTS                 486
FG%               0.443
2P%               0.487
3P%                0.31
FT%               0.754
PER                23.4
WS                  4.9
BPM                10.5
Name: 7, dtype: object

In [39]:
acc_players_df.nlargest(3, 'AST')

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
7,8,Reece Beekman,SR,G,Virginia,34,1114,124,212,68,...,70,43,486,0.443,0.487,0.310,0.754,23.4,4.9,10.5
215,216,Jaeden Zackery,JR,G,Boston College,36,1216,119,152,63,...,71,78,408,0.484,0.511,0.405,0.824,16.4,3.7,3.5
21,22,Elliot Cadeau,FR,G,North Carolina,37,882,81,150,29,...,67,84,271,0.417,0.481,0.189,0.648,11.7,2.1,1.8

In [40]:
acc_players_df.nlargest(3, 'BLK')

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
51,52,Ryan Dunn,SO,G,Virginia,34,935,235,26,44,...,28,70,276,0.548,0.618,0.200,0.532,22.0,4.2,7.2
157,158,Quinten Post,SR,F,Boston College,35,1115,284,100,30,...,86,100,595,0.514,0.544,0.431,0.821,25.6,5.1,9.6
5,6,Armando Bacot,SR,F,North Carolina,37,1123,380,56,22,...,60,100,538,0.540,0.544,0.400,0.781,24.6,6.1,8.9

In [47]:
# School-Based Analysis
pointsperschool = acc_players_df.groupby('School')['PTS'].sum()
acc_players_df.groupby('School')['PTS'].sum()

School
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: PTS, dtype: int64

In [42]:
acc_players_df.groupby('School')['AST'].sum()

School
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: AST, dtype: int64

In [43]:
pointsperschool.sort_values(ascending=False).head(3)

School
NC State          3101
North Carolina    3032
Duke              2830
Name: PTS, dtype: int64

In [44]:
# What did you learn about working with CSV files and pandas DataFrames in this assignment?

# This assignment helped me feel more confident using pandas for data analysis. I learned how to handle 
# different CSV file formats, skip unnecessary rows, and deal with missing values without losing important 
# information. I also practiced filtering data based on specific conditions and performing calculations like 
# summing totals or finding averages. These skills are essential for exploring and understanding data, whether
# it’s to identify trends or make predictions. I can see how these techniques would be useful in future 
# projects, from analyzing market trends to tracking user behavior.

In [45]:
# What was the most challenging aspect of this assignment, and how did you overcome it?

# One of the biggest challenges was making sure my data analysis was accurate. I had to be creative and break
# down the task into smaller steps to get the results I needed. Another tricky part was managing missing 
# values in key columns like shooting percentages, which could skew the data if not handled properly. To get 
# through these challenges, I took my time to double-check each step and used visual tools like scatter plots 
# to make sure I was on the right track.

In [46]:
# How do you think the insights gained from analyzing ACC basketball statistics could be applied to other 
# real-world datasets?

# The skills I learned in this project can be applied to many different fields beyond sports. Whether it’s 
# looking at business performance, healthcare outcomes, or educational data, the ability to analyze and 
# interpret information is incredibly valuable. This experience showed me how to dig into data and find 
# insights that can drive decision-making. It’s cool to think about using these techniques in real-world 
# situations where data analysis can help solve problems and inform strategies across a variety of industries.